*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.mainLayout{
    flex-grow: 1;
    top:60;
    display: flex;
    flex-direction: column;
}
.container_main{
    position: relative;
    padding: 0 16px;
    margin: 0 auto;
}